<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header>
  		<h1>Visualization Music</h1>
      <ul class="type">
        <li class="selected">Dot</li>
        <li>Column</li>
      </ul>
      <p>
        Volume <input id='volume' type='range' min='0' max='100' value='50'>
      </p>
  	</header>
    <div id='list' class='list'>
    	<ul id='music_list' class='music-list'>
        <% music.forEach(function(name){%><li title="<%= name %>"><%= name %></li><%})%>
    	</ul>
    </div>
    <div id='canvas' class='canvas'></div>
      <script type="text/javascript" src='/javascripts/copy.js'></script>
      <script type="text/javascript" src='/javascripts/index.js'></script>
  </body>
</html>
