<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header>
  		<h1><%= title %></h1>
      <ul id="type" class="type">
        <li data-type="dot" class="selected">Dot</li>
        <li data-type="column">Column</li>
      </ul>
      <p>
        Volume <input id='volume' type='range' min='0' max='100' value='50'>
      </p>
  	</header>
    	<div class='left'>
    		<ul id='list'>
          <% music.forEach(function(name){%><li title="<%= name %>"><%= name %></li><%})%>
    		</ul>
    	</div>
    	<div id='box' class='right'>

    	</div>
      <script type="text/javascript" src='/javascripts/MusicVisualizer.js'></script>
      <script type="text/javascript" src='/javascripts/index.js'></script>
  </body>
</html>
